<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../assets/css/style.css">
        <script type="module" src="../js/index.js" defer></script>
        <title>Greeting</title>
    </head>
    <body>
        <header>
            <i class='bx bx-world'></i>
            Greeting from
            <span class="country">
                <select name="country" id="country"></select>
                <i class='bx bxs-flag-alt'></i>
            </span>
        </header>
        <main>
            <div class="greeting">
                <span class="text"></span>
                <i class='bx bxs-hand bx-tada'></i>
            </div>
        </main>
    </body>
</html>